<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (items.length > 0) { %>
                <ul>
                    <% items.forEach(item => { %>
                        <div>
                            <li>
                                <h3><%= item.title %></h3>
                                <p>Quantity: <%= item.CartItem.quantity %></p>
                                <p>Total Price: $<%= item.price * item.CartItem.quantity %></p>
                            </li>
                            <form action="/cart-delete-item" method="post">
                                <input type="hidden" value="<%= item.id %>" name="itemId">
                                <button class="btn" type="submit">Remove Item</button>
                            </form>

                        </div>
                    <% }) %>
                </ul>
            <% } else { %>
                <h2>Your cart is empty</h2>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>